<div style="display: flex; justify-content: space-between; align-items: center;">
  <a href="{% url 'home' %}">
    <img src="{% load static %}{% static '/SAC logo.png' %}" alt="Logo">
  </a>

  <div style="display: flex; align-items: center;">
    {% if request.user.is_authenticated %}
      <button onclick="showUserDetails()" style="margin-right: 10px; background-color: #ff9900; color: #fff; border: none; cursor: pointer; font-size: 16px; padding: 5px 10px; border-radius: 4px;">{{ request.user.username }}</button>
      <div id="userDetails" style="display: none; position: absolute; top: 50px; right: 10px; background-color: #f9f9f9; padding: 10px; border: 1px solid #ddd; z-index: 1;">
        <p>{{ request.user.username }}</p>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    {% else %}
      <a href="{% url 'login' %}"> Login </a>
    {% endif %}
  </div>
</div>

{% if user.is_authenticated %}
  {% if request.path == '/' %} {# Check if it's the home page #}
    <style>
      .create-calendar-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #ff9900;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
      }
    </style>
    <a href="{% url 'CreateCalendar' %}" class="create-calendar-button"> Create Calendar </a>
  {% endif %}
{% endif %}

<script>
  function showUserDetails() {
    var userDetails = document.getElementById("userDetails");
    if (userDetails.style.display === "none") {
      userDetails.style.display = "block";
    } else {
      userDetails.style.display = "none";
    }
  }
</script>