{% extends 'main.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

  <div class="user-info-container">
    {% if user.is_authenticated %}
      <div class="popup" id="userInfoPopup">
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    {% else %}
      <p>Login to track your events.</p>
    {% endif %}
  </div>

  <div class="box events-box">
    <h2>Home</h2>

    {% if user.is_authenticated %}
      <div class="box">
        <h3>Your Events:</h3>
        <ul>
          {% for event in events %}
            <li>{{ event.title }} - {{ event.datetime|date:"F j, Y" }} at {{ event.datetime|time:"g:i A" }} in {{ event.calendar.name }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="box calendars-box">
        <h3>Your Calendars:</h3>
        <ul>
          {% for calendar in user_calendars %}
            <li><a href="{% url 'calendar_detail' calendar.id %}">{{ calendar.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <p>Login to track your events.</p>
    {% endif %}
  </div>

  <script>
    window.onclick = function(event) {
      var popup = document.getElementById("userInfoPopup");
      if (event.target !== popup && !event.target.matches('.user-info')) {
        if (popup.classList.contains('show')) {
          popup.classList.remove('show');
        }
      }
    }
  </script>
{% endblock %}